.jumbotron {
	background-image: url("./header.jpg");
	background-repeat: no-repeat;
	background-size: auto;
	height: 300px;
}
.jumbotron .container {
	position: relative;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
 }

body {
	font-family: 'Catamaran', sans-serif;
}

h4 {
	text-align: center;
	font-style: bold;
}

.navbar {
	background-color: #fff;
	color: #000;
}

.navbar href {
	background-color: #fff;
	color: #C01111;
	padding: 0px;
}

#main-frame {
	padding: 20px;
	font-size: 16px;

}

#add-user {
	margin-top: 10px;
}

#needPermission {
	position: relative;
	bottom: 10px;
}

#report-form {
	position: relative;
	width: auto;
	padding: 0;
	margin: 0;
}

#fbname {
	padding: 10px;
}

i {
	color: #d3d3d3;
}

.live-feed {
	border-style: solid;
	border-color: #A9A9A9;
	border-width: 1px;
	float: left;
	width: 100%;
}

#sidebar {
	padding: 0;
	margin: 0;
}


