.jumbotron {
	background-image: url("images/header.jpeg");
	background-repeat: no-repeat;
	background-size: auto;
	height: 200px;
}
.jumbotron .container {
	position: relative;
}

body {
	font-family: 'Catamaran', sans-serif;
}

.navbar {
	background-color: #fff;
	color: #000;
}

.navbar href {
	background-color: #fff;
	color: #C01111;
}
